<!DOCTYPE html>
<html lang="en-US">
<head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <title>Make Word Definitions</title>
</head>
<body>
  <div class="containter">
    <%= yield %>
  </div>
</body>
</html>